.college-card-data{
    display: flex;
    justify-content: start;
    align-items: center;
    
    
}

.custom-card{
    width: 400px;
    padding: 15px; 
    background-color:rgb(236, 224, 206);
}

.card-key{
    font-weight: bold; 
    margin-right: 10px;
}